<a class="bill-thrall--banner-wrapper"  href="{{ "/bill-thrall/" | prepend: site.baseurl }}">
    <div class="bill-thrall--banner">
        <h1 class="bill-thrall--banner-title">
            Don't Miss Bill Thrall this September!
        </h1>

        <div class="bill-thrall--bio-image__small">
            <img
                src="{{ "/img/bill-thrall/bill-thrall.jpeg" | prepend: site.baseurl }}"
                alt="Bill Thrall" />
        </div>

        <a
            class="bill-thrall--banner-call-to-action"
            href="{{ "/bill-thrall/" | prepend: site.baseurl }}">

            Details
        </a>

        <a
            class="bill-thrall--banner-call-to-action"
            href="https://goo.gl/forms/JSKyRn6bQnTqRfVo1"
            target="_blank">

            RSVP
        </a>
    </div>
</a>
