<footer class="site-footer--wrapper">
    <div class="site-footer">
        <p class="site-footer--address">
            2315 Library Circle<br>
            Grand Forks, ND 58201
        </p>

        <div>
            <a href="{{ "/docs/2015 Annual Report.pdf" | prepend: site.baseurl }}" class="site-footer--annual-report">
                2015 Annual Report
            </a>
        </div>

        <p class="site-footer--phone">
            {{ site.phone1 }}<br>
            {{ site.phone2 }}
        </p>
    </div>
</footer>
