<footer class="site-footer--wrapper">
    <div class="site-footer">
        <p class="site-footer--address">
            <span class="fa fa-map-marker"></span> 2315 Library Circle<br>
            Grand Forks, ND 58201
        </p>

        <div class="site-footer--annual-report__wrapper">
            <a href="{{ "/docs/2015 Annual Report.pdf" | prepend: site.baseurl }}" class="site-footer--annual-report">
                <span class="fa fa-file-pdf-o"></span> 2015 Annual Report
            </a>
        </div>

        <p class="site-footer--phone">
            <span class="fa fa-phone"></span> {{ site.phone1 }}<br>
            <span class="fa fa-phone"></span> {{ site.phone2 }}
        </p>
    </div>
</footer>
