<footer class="site-footer--wrapper">
    <div class="site-footer">
        <p class="site-footer--address">
            <span class="fa fa-map-marker"></span> Main Office<br>
            2315 Library Circle<br>
            Grand Forks, ND 58201
        </p>

        <div class="site-footer--file__wrapper">
            <a href="{{ "/docs/2013.09 Notice of Privacy Practices.pdf" | prepend: site.baseurl }}" class="site-footer--file" title="Notice of Privacy Practices">
                <span class="fa fa-file-pdf-o"></span> Notice of Privacy Practices
            </a>
        </div>

        <ul class="site-footer--social-links">
            <li class="site-footer--social-link">
                <a href="https://www.facebook.com/northlandccc/">
                    <span class="fa fa-facebook-official"></span>
                </a>
            </li>

            <li class="site-footer--social-link">
                <a href="https://twitter.com/Northland_CCC">
                    <span class="fa fa-twitter"></span>
                </a>
            </li>
        </ul>

        <p class="site-footer--phone">
            <span class="fa fa-phone"></span> {{ site.phone1 }}
        </p>
    </div>
</footer>
