{% assign ghd_href = "http://givingheartsday.org/" %}

<a class="ghd--banner-wrapper"  href="{{ ghd_href }}">
    <div class="ghd--banner">
        <div class="ghd--image">
            <img
                src="{{ "/img/ghd/ghd-logo-horiz.png" | prepend: site.baseurl }}"
                alt="Giving Hearts Day 2018 Logo"
            />
        </div>

        <a
            class="ghd--banner-call-to-action"
            href="{{ ghd_href }}"
        >
            Learn More
        </a>

        <div class="ghd--image__small">
            <img
                src="{{ "/img/ghd/child-holding-heart-square-web.jpg" | prepend: site.baseurl }}"
                alt="Child Holding Heart"
            />
        </div>
    </div>
</a>
