/*------------------------------------------------------------------------------
    _base.scss

    Base styles for the project.
------------------------------------------------------------------------------*/

/**
 * Basic styling
 */
body {
    font-family: $font--main;
    font-size: ms(3);
    font-weight: $font--weight;
    color: $color--black;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    line-height: 1.5;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing--unit / 2;
}

/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}

/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: ms(2);
}

/**
 * Lists
 */
ul, ol {
    margin-left: $spacing--unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: $font--weight;
}

/**
 * Links
 */
a {
    color: $color--primary;
    text-decoration: none;

    &:hover {
        color: $color--primary__interact;
    }
}

/**
 * Blockquotes
 */
blockquote {
    border-left: 4px solid $color--gray__light;
    padding-left: $spacing--unit / 2;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}

/**
 * Wrapper
 */
.wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: $width--content;
}
