/*------------------------------------------------------------------------------
    _about.scss

    About Us page styles
------------------------------------------------------------------------------*/

.about {
    &--summary {
        background: $color--quaternary;
        color: $color--secondary;
        padding: ($spacing--unit * 2) $padding--content;
    }
}
