/*------------------------------------------------------------------------------
    _about.scss

    About Us page styles
------------------------------------------------------------------------------*/

.about {
    &--summary {
        background: $color--quaternary;
        color: $color--secondary;
        padding: ($spacing--unit * 2) $padding--content;
    }

    &--staff {
        padding: ($spacing--unit * 2) $padding--content;
    }

    &--staff-member {
        display: flex;
        padding: $spacing--unit;

        &:nth-child(2n+1) {
            background-color: $color--white__off;
        }
    }

    &--staff-member-image {
        border: 1px solid $color--primary;
        border-radius: 50%;
        margin-right: $spacing--unit;
        padding: $spacing--unit / 2;

        img {
            border-radius: 50%;
            max-width: 120px;
        }
    }

    &--staff-member-text {
        display: flex;
        flex-direction: column;
    }

    &--staff-member-name {
        small {
            color: $color--primary;
        }
    }

    &--staff-member-bio {
        font-size: ms(2);
    }
}
