/*------------------------------------------------------------------------------
    _about.scss

    About Us page styles
------------------------------------------------------------------------------*/

.about {
    &--summary {
        background: $color--quaternary;
        color: $color--secondary;
        padding: ($spacing--unit * 2) $padding--content;
    }

    &--board-of-directors {
        color: $color--black;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
        max-width: 700px;
        text-align: center;
    }

    &--staff {
        padding: ($spacing--unit * 2) $padding--content;
    }

    &--staff-member {
        border-radius: $border--radius;
        display: flex;
        flex-direction: column;
        margin-bottom: $spacing--unit;
        padding: $spacing--unit / 2;

        @include mq--medium {
            flex-direction: row;
            padding: $spacing--unit;
        }

        &:nth-child(2n+1) {
            background-color: $color--white__off;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &--staff-member-image {
        border: 1px solid $color--primary;
        border-radius: 50%;
        padding: $spacing--unit / 2;

        @include mq--medium {
            margin-right: $spacing--unit;
        }

        &__wrapper {
            display: flex;
            justify-content: center;
            margin-bottom: $spacing--unit / 2;

            @include mq--medium {
                flex-direction: column;
                justify-content: flex-start;
            }
        }

        img {
            border-radius: 50%;
            max-width: 125px;
        }
    }

    &--staff-member-text {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &--staff-member-name {
        line-height: 1.15;
        margin-bottom: 0;
        text-align: center;

        @include mq--medium {
            text-align: left;
        }
    }

    &--staff-member-location {
        color: $color--primary;
        text-align: center;

        @include mq--medium {
            text-align: left;
        }
    }

    &--staff-member-quote {
        font-size: ms(2);
        position: relative;
    }

    &--staff-member-quote {
        color: $color--secondary;
        font-size: ms(2);

        .fa {
            color: $color--primary;
        }
    }

    &--staff-member-bio {
        font-size: ms(2);

        .fa {
            color: $color--primary;
        }
    }

    &--statement-of-faith {
        color: $color--gray;
        font-size: ms(2);
        margin-bottom: $spacing--unit * 2;
    }

    &--statement-of-faith-lead-in {
        color: $color--primary;
        font-size: ms(3) * 1.15;
        font-variant: small-caps;
        line-height: 1.25;
    }
}
