/*------------------------------------------------------------------------------
    _donate.scss

    Donate page styles
------------------------------------------------------------------------------*/

$donate--call-to-action-width: 150px;

.donate {
    &--summary {
        background: $color--tertiary;
        color: $color--white;
        padding: ($spacing--unit * 2) $padding--content;
    }

    &--description {
        display: flex;
        flex-direction: column;

        @include mq--large {
            flex-direction: row;
        }

        p {
            margin-bottom: $spacing--unit;

            @include mq--large {
                margin-bottom: 0;
            }
        }
    }

    &--call-to-action {
        background: $color--white;
        border-radius: 50%;
        display: inline-block;
        height: $donate--call-to-action-width;
        margin-left: $spacing--unit / 2;
        position: relative;
        min-width: $donate--call-to-action-width;

        @include mq--large {
            margin-left: 0;
            margin-top: $spacing--unit / 2;
        }

        &:hover {
            background: $color--quaternary;
        }

        img {
            display: block;
            padding: $spacing--unit / 2;
            position: absolute;
            height: auto;
            left: 50%;
            max-width: $donate--call-to-action-width;
            top: 50%;
            transform: translate(-50%, -50%);
            width: auto;
        }

        &__wrapper {
            align-items: center;
            color: $color--primary;
            display: flex;
            flex-direction: row;
            flex: 1 0 auto;
            justify-content: center;
            white-space: nowrap;

            @include mq--large {
                flex-direction: column;
                margin-left: $spacing--unit * 2;
            }
        }
    }

    &--resources {
        padding: ($spacing--unit * 2) $padding--content;

        .fa {
            color: $color--primary;
        }
    }

    &--files-group {
        align-items: center;
        border-radius: $border--radius;
        display: flex;
        flex-direction: column;
        padding: $spacing--unit $spacing--unit ($spacing--unit * 2);

        &:nth-of-type(2n+1) {
            background: $color--white__off;
        }

        @include mq--large {
            flex-direction: row;
            padding: $spacing--unit;
        }
    }

    &--files-year {
        margin: 0 0 $spacing--unit;

        @include mq--large {
            margin: 0 $spacing--unit 0 0;
        }
    }

    &--file {
        border: 1px solid $color--primary;
        border-radius: $border--radius;
        font-weight: 500;
        padding: $spacing--unit / 2;

        &__container {
            display: flex;
            flex-direction: column;
        }

        &__wrapper {
            margin: 0 0 $spacing--unit * 2;

            @include mq--large {
                margin: 0 $spacing--unit 0 0;
            }

            &:last-of-type {
                margin-bottom: 0;

                @include mq--medium {
                    margin-right: 0;
                }
            }
        }

        &__wrapper-vertical {
            margin: 0 0 $spacing--unit * 2;

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        &:hover {
            border-color: $color--primary__interact;

            .fa {
                color: $color--primary__interact;
            }
        }
    }
}
