/*------------------------------------------------------------------------------
    _home.scss

    Home styles
------------------------------------------------------------------------------*/

$home--call-to-action-width: 150px;

.home {
    &--summary {
        color: $color--secondary;
        padding: ($spacing--unit * 2) $padding--content;

        .section--title {
            color: $color--black;
        }
    }

    &--pull-quote {
        color: $color--primary;
        display: block;
        font-size: ms(3) * 1.25;
        font-weight: 100;
        line-height: 1.125;
        margin-top: $spacing--unit;
        padding: 0 $spacing--unit;
    }

    &--image-wrapper {
        background: $color--white;
        border: 1px solid $color--primary;
        border-radius: $border--radius;
        box-sizing: border-box;
        padding: ms(2);
    }

    &--image {
        border-radius: $border--radius / 2;
    }

    &--call-to-action {
        background: $color--quaternary;
        border-radius: 50%;
        display: inline-block;
        height: $home--call-to-action-width;
        margin-left: $spacing--unit / 2;
        position: relative;
        width: $home--call-to-action-width;

        img {
            display: block;
            padding: $spacing--unit / 2;
            position: absolute;
            height: auto;
            left: 50%;
            max-width: $home--call-to-action-width;
            top: 50%;
            transform: translate(-50%, -50%);
            width: auto;
        }

        &__wrapper {
            align-items: center;
            display: flex;
            justify-content: center;
            margin-top: $spacing--unit;
        }
    }
}
