/*------------------------------------------------------------------------------
    _home.scss

    Homepage styles
------------------------------------------------------------------------------*/

.home {
    &--summary {
        background: $color--secondary;
        color: $color--white;
        font-size: ms(2);
        padding: $spacing--unit $padding--content;
    }
    &--tagline {
        font-size: ms(4);
        font-weight: 100;
    }

    &--rule {
        border-bottom: 1px solid $color--primary;
        margin-bottom: $spacing--unit;
    }

    &--description {
        display: flex;
    }

    &--description-image {
        img {
            border-radius: 50%;
        }
    }
}
