/*------------------------------------------------------------------------------
    _home.scss

    Homepage styles
------------------------------------------------------------------------------*/

.home-summary {
    background: $color--secondary;
    color: $color--white;
    font-size: ms(2);
    padding: $spacing--unit $padding--content;
}
