/*------------------------------------------------------------------------------
    _header.scss

    Header styles
------------------------------------------------------------------------------*/

@keyframes bgFadeIn {
    0% { background-color: rgba(255, 255, 255, 1); }
    100% { background-color: rgba(255, 255, 255, 0); }
}

.site-header {
    align-items: flex-end;
    animation: bgFadeIn 2s ease-in both;
    background: linear-gradient($color--overlay__bg, $color--overlay__bg);
    display: flex;
    height: 500px;
    justify-content: center;
    padding: ($padding--content * 4) $padding--content ($padding--content * 5);
    position: relative;

    @include mq--medium {
        align-items: center;
        padding-bottom: $padding--content;
    }

    &__small {
        align-items: flex-end;
        animation: bgFadeIn 1s ease-in both;
        background: linear-gradient($color--overlay__bg, $color--overlay__bg);
        display: flex;
        height: 400px;
        justify-content: center;
        padding: ($padding--content * 5) $padding--content ($padding--content * 3);
        position: relative;

        @include mq--medium {
            align-items: center;
            height: 250px;
            padding-bottom: $padding--content;
        }

        &:before {
            background: url("../../img/wheat.jpg");
            background-color: $color--white;
            background-attachment: fixed;
            background-position: center center;
            background-repeat: no-repeat;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            bottom: 0;
            content: ' ';
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            z-index: -1;
        }
    }

    &:before {
        background: url("../../img/wheat.jpg");
        background-color: $color--white;
        background-attachment: fixed;
        background-position: center center;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        bottom: 0;
        content: ' ';
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
    }

    &--logo {
        background: $color--overlay__logo;
        border-radius: $border--radius;
        padding: $spacing--unit / 2;

        &__small {
            background: $color--overlay__logo;
            border-radius: $border--radius;
            padding: $spacing--unit / 4;
            max-width: 350px;
        }

        @include mq--medium {
            padding: $spacing--unit;
        }
    }
}
