/*------------------------------------------------------------------------------
    _nav.scss

    Navigation styles
------------------------------------------------------------------------------*/

.site-nav {
    background: $color--white;
    border-radius: 0 0 $border--radius $border--radius;
    box-shadow: 0 0 45px -5px rgba(95,95,95,0.9);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    left: 50%;
    list-style: none;
    margin: 0 auto;
    max-width: $width--nav;
    position: absolute;
    transform: translateX(-50%);
    width: 100%;
    z-index: 1;

    @include mq--medium {
        flex-direction: row;
    }

    &--item {
        flex-grow: 1;
        text-align: center;
        padding: 0;

        &.active {
            background: $color--white__off;

            &:first-of-type {
                border-radius: 0 0 0 $border--radius;
            }

            &:last-of-type {
                border-radius: 0 0 $border--radius 0;
            }

            a {
                color: $color--secondary;
            }
        }

        &:hover {
            background: $color--white__off;

            &:first-of-type {
                border-radius: 0 0 0 $border--radius;
            }

            &:last-of-type {
                border-radius: 0 0 $border--radius 0;
            }
        }

        a {
            display: block;
            font-weight: 400;
            padding: 10px $spacing--unit 15px $spacing--unit;

            &:hover {
                color: $color--secondary;
            }
        }
    }
}
