/*------------------------------------------------------------------------------
    _nav.scss

    Navigation styles
------------------------------------------------------------------------------*/

.site-nav {
    background: $color--white;
    border-radius: 0 0 $border--radius $border--radius;
    box-shadow: 0 0 45px -5px rgba(95,95,95,0.9);
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0 auto;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: $width--nav;
    z-index: 1;

    &--item {
        border-top: 5px solid $color--white;
        text-align: center;
        width: percentage(1/3);

        &:hover {
            border-top: 5px solid $color--primary;
        }

        a {
            display: block;
            font-weight: 400;
            padding: 10px 0 15px 0;
        }
    }
}
