/*------------------------------------------------------------------------------
    _nav.scss

    Navigation styles
------------------------------------------------------------------------------*/

.site-nav {
    background: $color--white;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0 auto;
    max-width: $width--nav;

    &--item {
        border-top: 5px solid $color--white;
        text-align: center;
        width: percentage(1/3);

        &:hover {
            border-top: 5px solid $color--secondary;
        }

        a {
            display: block;
            font-weight: 400;
            padding: 10px 0 15px 0;
        }
    }
}
